.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.boardgame {
  display: flex;
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
  border: solid 1px black;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: solid 2px black;
}

.cells {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  height: 96px;
  width: 100px;
  /* background: url("./pictures/happy-panda2.png"); */
  animation-name: turn-around-away;
  animation-duration: 8s;
}
.active {
  height: 96px;
  width: 100px;
}

.game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: url("./pictures/gameover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.game-over__button {
  position: absolute;
  border: 0px;
  height: 40px;
  width: 200px;
  bottom: 5px;
  background: rgb(133, 82, 16);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 30px;
}
.game-over__button:hover {
  background: green;
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 600px;
  height: 505px;
  background-image: url("./pictures/winner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(133, 82, 16);
  z-index: 2;
}

.winner-text {
  font-size: 4rem;
  margin-top: 2px;
}

@keyframes turn-around-away {
  0% {
    pointer-events: none;
    background: url("./pictures/happy-panda2.png");
    transform: rotateY(0);
  }
  50% {
    pointer-events: none;
    background: url("./pictures/happy-panda2.png");
    transform: rotateY(0turn);
  }
  100% {
    background: white;
    transform: rotateY(0.5turn);
  }
}
